<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Detalle de ingreso egreso</h4>

          <table class="table">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Tipo</th>
                <th>Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let ingresoEgreso of ingresosEgresos | ordenIngreso">
                <td> {{ ingresoEgreso.descripcion }} </td>
                <td> {{ ingresoEgreso.monto | currency }} </td>
                <td [class.text-success]=" ingresoEgreso.tipo === 'ingreso'"
                    [class.text-danger]=" ingresoEgreso.tipo === 'egreso'">
                  {{ ingresoEgreso.tipo }}
                </td>
                <td>
                  <button type="button" class="btn btn-danger"
                          (click)="borrarIngresoEgreso( ingresoEgreso )">
                    <i class="fa fa-trash"></i>
                    Borrar
                  </button>
                </td>
              </tr>
            </tbody>

          </table>


        </div>
      </div>
  </div>
</div>
